h1 {
  color: #234c54;
  text-align: center;
}
header {
  text-align: center;
}
h2 {
  color: #3c5070;
}
* {
  background-color: #f5f0e9;
}
a {
  color: #4087d2;
}
.bold {
  color: #112250;
}
