* {
  background-color: #ebe8db;
}

h1 {
  color: #3d0301;
  text-align: center;
}

h2 {
  color: #b03052;
}

.sub {
  font-weight: 500;
}

header {
  text-align: center;
}

a {
  color: #d76c82;
}

.bold {
  color: #3d0301;
}
